section.chamada{
    z-index: 1;
    width: 100%;
    position: relative;
    top: -50px;
    text-align: center;
    display: inline-block;
}

section.chamada .container{
    padding: 50px 0;
    background-color: brown;
}

section.chamada h2{
    width: 96%;
    max-width: 800px;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: normal;
}

section.chamada p{
    color: white;
    font-size: 16px;
    padding-top: 20px;
}