section.chamada{
    width: 100%;
    text-align: center;
    position: relative;

    .arrow{
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        background-size: 100% 100%;
        background-image: url(../images/arrow.png);
    }

    .container{
        padding: 60px 0 50px 0;
        background-color: rgb(66, 86, 124);
    
        h2{
            width: 98%;
            max-width: 800px;
            display: inline-block;
            color: white;
            font-size: 24px;
            font-weight: normal;
            text-transform: uppercase;
        }
        
        p{
            color: white;
            font-size: 16px;
            padding-top: 20px;
        }
    }
}