section.chamada{
    z-index: 1;
    width: 100%;
    position: relative;
    top: -50px;
    text-align: center;
    display: inline-block;

    .container{
        padding: 50px 0;
        background-color: brown;

        h2{
            width: 96%;
            max-width: 800px;
            display: inline-block;
            color: white;
            font-size: 24px;
            font-weight: normal;
        }
        
        p{
            color: white;
            font-size: 16px;
            padding-top: 20px;
        }
    }
}