footer{
    text-align: center;
    margin-top: 0;

    .container{
        width: 100%;
        background-color: rgba(210, 210, 210, 0.8);
    }

    p{
        padding-top: 10px;
        font-size: 12px;
    }
}