footer{
    text-align: center;
    margin-top: 0;

    .container{
        width: 100%;
        background-color: rgba(210, 210, 210, 0.8);
    }

    img{
        padding-top: 20px;
        width: 120px;
    }

    p{
        padding-top: 5px;
        font-size: 12px;
    }

    .container:last-child{
        padding-bottom: 15px;
    }
}