.flex-mosaic{
    display: flex;

    .mosaic_1-img{
        background-position: center;
        background-size: cover;
        background-image: url(../images/mosaico1.jpg);
        width: 60%;
    }

    .mosaic_1-txt{
        width: 40%;
        padding: 40px;
        background-color: rgb(60, 80, 114);

        p{
            color: white;
        }
    }
}