@media screen and (max-width: 510px){
    header{
        text-align: center;

        .logo-1, .logo-2{
            margin-top: 10px;
            float: none;
            display: inline-block;
        }
    }
}